In [1]:
import uuid
import sys
import alerter_server

In [2]:
from alerter_server.utils import tokenController

### Initialize a controller object

In [3]:
conn_str = 'mysql://admin:password@scubesqldb01.cpljad6mmfek.ap-southeast-1.rds.amazonaws.com:3306/alerts'

In [4]:
controller = tokenController(conn_str)

#### CRUD (create, read, update, delete)

#### For alert table

In [5]:
# Create a table
controller.init_tokentable(name='backend', suffix='_tokens', prefix='alerts_')

In [6]:
# Read tables
controller.list_tokentables()

['alerts_backend_tokens']

In [8]:
# Delete a table
controller.delete_tokentable('alerts_backend_tokens', backup_filepath='alerts_backend_token.xlsx')

type the following passphrase: d5e3c32b
passphrase: d5e3c32b

#### For alert entries

In [5]:
controller.set_tokentable('alerts_backend_tokens')

In [7]:
# Create a new token
token = controller.issue_new_token()

In [8]:
token

'5e405eeb-8994-408b-a72f-ef81a7eaca69'

In [9]:
# Read/List entries
controller.list_tokens()

,_uuid,token,_created_at,status
0,604acf34-cad2-4b28-8cea-ef14c87aebf5,b76326d5-b3ed-4350-b531-9c26308c6487,1.563287e+09,active
1,6d6e0dda-db02-4da1-b9bf-4812a0dd0abb,5e405eeb-8994-408b-a72f-ef81a7eaca69,1.563287e+09,active

In [6]:
# Revoke a token
controller.revoke_token(token_uuid='6d6e0dda-db02-4da1-b9bf-4812a0dd0abb')

In [7]:
# Read/List entries
controller.list_tokens()

,_uuid,token,_created_at,status
0,604acf34-cad2-4b28-8cea-ef14c87aebf5,b76326d5-b3ed-4350-b531-9c26308c6487,1.563287e+09,active
1,6d6e0dda-db02-4da1-b9bf-4812a0dd0abb,5e405eeb-8994-408b-a72f-ef81a7eaca69,1.563287e+09,deactivated

In [8]:
# delete an entry
controller.delete_token(token_uuid='6d6e0dda-db02-4da1-b9bf-4812a0dd0abb')

In [9]:
# Read/List entries
controller.list_tokens()

,_uuid,token,_created_at,status
0,604acf34-cad2-4b28-8cea-ef14c87aebf5,b76326d5-b3ed-4350-b531-9c26308c6487,1.563287e+09,active